In [1]:
#import numpy library
import numpy as np

In [2]:
#Question 1, Merging two arrays into single array 
A =np.array([1,2,3,4,5,6])

In [4]:
B=np.array([13, 21, 34])

In [5]:
z=np.append(A,B)

In [6]:
z

array([ 1,  2,  3,  4,  5,  6, 13, 21, 34])

In [7]:
#Question 2, identity matrix
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [8]:
import pandas as pd

In [9]:
url='https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv'

In [10]:
fuel_df=pd.read_csv(url)

In [11]:
fuel_df.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [12]:
#Question 3:Which of the following fueltype code has the lowest average fuel cost per unit burned?
fuel_df.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].sum()
#Observation: next to other, Waste is the lowest.

fuel_type_code_pudl
coal        576254.381
gas         156891.829
nuclear    4053318.428
oil        1361824.819
other         3048.394
waste         8607.492
Name: fuel_cost_per_unit_burned, dtype: float64

In [13]:
#Question 4: What is the standard deviation and 75th percentile of the measure of energy per unit
#(Fuel_mmbtu_per_unit) in two decimal places?
fuel_df.describe()
#Observation:10.60 and 17.01

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [25]:
#Question 5
#Whatis the skewness and kurtosis for the fuel quantity burned in two decimal places?
print(fuel_df.fuel_qty_burned.skew())
print(fuel_df.fuel_qty_burned.kurtosis())
#Obervation:15.85 and 651.37

15.851495469109503
651.3694501337732

In [63]:
#Question 6
#Which feature has missing values and what is the total number of missing value and
#percentage ofthe missing rows as a factor ofthe total number of rows in three decimal
#places?
#(Enter answer in the format: Feature: xxx, Total: xxx, Percent: xxx)
missing=fuel_df.isnull().sum()
print("Quantity of missing values in colums")
print("=================================================================")
print(missing)
print("=================================================================")
print("Quantity of missing values in colums in percentage")
print("=================================================================")
print(missing/len(fuel_df)*100)
#Obervation: Feature: fuel_unit, Total: 180, Percent: 0.609694)

Quantity of missing values in colums
=================================================================
record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64
=================================================================
Quantity of missing values in colums in percentage
=================================================================
record_id                       0.000000
utility_id_ferc1                0.000000
report_year                     0.000000
plant_name_ferc1                0.000000
fuel_type_code_pudl             0.000000
fuel_unit                       0.609694
fuel_qty_burned                 0.000000
fuel_mmbtu_per_unit             0.000000
fuel_cost_per_unit_burned       0.000000
fuel_cost_per_unit_delivered    0.000000
fuel_cost_per_mmbtu             0.000000
dtype: float64

In [64]:
fuel_df.corr()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

In [51]:
fuel_df.columns

Index([u'record_id', u'utility_id_ferc1', u'report_year', u'plant_name_ferc1',
       u'fuel_type_code_pudl', u'fuel_unit', u'fuel_qty_burned',
       u'fuel_mmbtu_per_unit', u'fuel_cost_per_unit_burned',
       u'fuel_cost_per_unit_delivered', u'fuel_cost_per_mmbtu'],
      dtype='object')

In [18]:
from scipy.stats import kurtosis, skew

651.3694501337732